/.venv
__pycache__/
*.pem


venv/
__pycache__/
*.pyc
test_kpi_connection.py
test_business_indicators.py

/htmlcov/

# Environment variables
.env
.env.local
.env.*.local
.env.production

# No ignorar el ejemplo
!.env.example
